/*Reset some default styles for better consistency */
body, h1, p {
    margin: 0;
    padding: 0;
}

/*Apply some basic styles to the body */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: #333;
}

/*Style the heading */
h1 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 16px;
}

/* Style the paragraph */
p {
    text-align: left;
    margin: 10px 0;
}

/* Style the horizontal line */
hr {
    height: 1px;
    width: 98%;
    color: #000040;
    background-color: #000040;
    border: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}



/* Style the title (my name) */
.title {
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
    color: #00446e;
}

/* Style the profile at the top of webpage */
.profile-section {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 16px;
}

/* Style the image of me */
.profile-image {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    width: 40vw;
    height: auto;
}

/* Style the section of text to the right of the profile image */
.profile-section-text {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Style the navigation bar at the top */
.navigation-bar {
    background-color: #e3e3e3;
    border: 1px solid black;
}

/* Style the link elements within the naigation bar */
.navigation-bar a {
    color: #000000;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 24px;
}

/* Style the hover behavior over the navigation bar links */
.navigation-bar a:hover {
    background-color: whitesmoke;
}

/* Style the active behvaior when one of the navigation bar links is active */
.navigation-bar a.active {
    background-color: whitesmoke;
}

/* Style the section */
section {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
    width: 90vw;
    max-width: 1000px;
}

/* Style an image placed on the right */
.image-right {
    float: right;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 30%;
}

/* Style links within section when they are hovered over */
section a:hover {
    color: rgb(63, 72, 255);
}

/* Style an unordered list */
ul {
    line-height: 130%;
}


/* Styling for screen sizes with a width under 640px */
@media screen and (max-width: 640px) {
    .navigation-bar {
        text-align: center;
    }

    .navigation-bar a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }

    .profile-image {
        width: 50%;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-section {
        flex-direction: column;
        margin-left: 0;
    }

    .image-right {
        display: none;
    }
}